.dropdown-btn {
	display: flex;
	align-items: center;
	width: fit-content;
	padding: 1rem;
	background-color: #F5F7F8;
	border-radius: 0.5rem;

	cursor: pointer;
	border: solid transparent 2px;
}

.toggle-icon {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 1rem;
}

.button-open {
	border: #437254 2px solid;
}