@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
	font-family: Arial, Helvetica, sans-serif;
}

*:focus {
	outline: 0;
}

.gradient-text {
	background: linear-gradient(to bottom, rgb(77, 78, 82), rgba(255, 204, 102, 0));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.theme-light {
	--brand-primary: rgb(47, 112, 193);
	--brand-secondary: rgb(116, 97, 195);
	--brand-alternative: rgb(19, 120, 134);
	--background-site: rgb(249, 249, 249);
	--background-code: rgb(244, 244, 244);
	--text-body: #437254;
	--text-comment: rgb(99, 94, 105);
	--text-high-contrast: rgb(49, 49, 49);
	--text-medium-contrast: rgb(99, 94, 105);
	--text-low-contrast: rgb(116, 109, 118);
	--detail-high-contrast: rgb(192, 192, 192);
	--detail-medium-contrast: rgb(234, 234, 234);
	--detail-low-contrast: rgb(240, 240, 242);
	--admonition-note: rgb(46, 109, 188);
	--admonition-warning: rgb(255, 196, 9);
	--admonition-danger: rgb(220, 38, 38);
	--brand-primary-rgb-value: 47, 112, 193;
	--brand-secondary-rgb-value: 116, 97, 195;
	--brand-alternative-rgb-value: 19, 120, 134;
	--background-site-rgb-value: 249, 249, 249;
	--background-code-rgb-value: 244, 244, 244;
	--text-body-rgb-value: 54, 49, 61;
	--text-comment-rgb-value: 99, 94, 105;
	--text-high-contrast-rgb-value: 49, 49, 49;
	--text-medium-contrast-rgb-value: 99, 94, 105;
	--text-low-contrast-rgb-value: 116, 109, 118;
	--detail-high-contrast-rgb-value: 192, 192, 192;
	--detail-medium-contrast-rgb-value: 234, 234, 234;
	--detail-low-contrast-rgb-value: 240, 240, 242;
	--admonition-note-rgb-value: 46, 109, 188;
	--admonition-warning-rgb-value: 255, 196, 9;
	--admonition-danger-rgb-value: 220, 38, 38;
}

.blog-card--hover a div:nth-child(2) {
	transition: height 150ms ease-in;
}

.blog-card--hover a div:nth-child(2) div:nth-child(2) {
	height: 0;
	overflow: hidden;
	transition: height 150ms ease-in;
}

.blog-card--hover:hover a div:nth-child(2) {
	height: 100%;
}

.blog-card--hover:hover a div:nth-child(2) div:nth-child(2) {
	height: fit-content;
}

.product-card--hover div:nth-child(1) img {
	transition: transform 200ms ease-in;
}

.product-card--hover:hover div:nth-child(2) {
	animation: fade-and-disappear 200ms ease-in forwards;
}

.product-card--hover:hover div:nth-child(1) img {
	transform: scale(110%);
}

/* blog card on homepage */
.blog-card-homepage--hover div:nth-child(1) img {
	transition: transform 200ms ease-in;
}

.blog-card-homepage--hover:hover div:nth-child(1) img {
	transform: scale(110%);
}

@keyframes fade-and-disappear {
	0% {
		opacity: 1;
	}

	50% {
		opacity: 0.5;
	}

	100% {
		opacity: 0;
		display: none;
	}
}

.bg-about img {
	transition: transform 0.5s ease, filter 0.5s ease;
}

.bg-about:hover img {
	transform: scale(1.05);
	filter: brightness(.6);
}

.about-card-bg {
	transition: transform 0.5s ease;
	overflow: hidden;
}

.about-card-bg:hover {
	transform: scale(1.1);
}




.header__burger {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	display: inline-block;
	height: 27px;
	position: absolute;
	transition: left 0.6s cubic-bezier(0.38, 0.005, 0.215, 1),
		transform 0.6s cubic-bezier(0.38, 0.005, 0.215, 1);
	width: 35px;
	will-change: transform;
	z-index: 2;
}

.header__burger:after,
.header__burger:before {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	background-color: #437254;
	content: "";
	height: 1px;
	position: absolute;
	top: 50%;
	transition: left 0.6s cubic-bezier(0.38, 0.005, 0.215, 1),
		transform 0.6s cubic-bezier(0.38, 0.005, 0.215, 1),
		transform-origin 0.6s cubic-bezier(0.38, 0.005, 0.215, 1),
		background-color 0.6s cubic-bezier(0.38, 0.005, 0.215, 1),
		color 0.6s cubic-bezier(0.38, 0.005, 0.215, 1);
	width: 100%;
	will-change: transform;
}

@media not all and (min-width: 768px) {
	.header__burger {
		width: 25px;
	}

	.header__burger:after,
	.header__burger:before {
		top: 0%;
	}
}

.header__burger:before {
	left: 50%;
	transform: translate(-50%, -50%) translateY(-4px);
}

.header__burger.is-active:before {
	transform: translate(-50%, -50%) rotate(45deg);
}

.header__burger:after {
	left: 0;
	transform: translateY(-50%) translateY(4px);
	transform-origin: left center;
}

.header__burger.is-active:after {
	left: 50%;
	transform: translate(-50%, -50%) scaleX(1) rotate(-45deg);
	transform-origin: center center;
}



.modal-nav {
	opacity: 0;
	overflow: hidden;
	pointer-events: none;
	transition: opacity 0.6s cubic-bezier(0.38, 0.005, 0.215, 1),
		visibility 0.6s cubic-bezier(0.38, 0.005, 0.215, 1),
		pointer-events 0.6s cubic-bezier(0.38, 0.005, 0.215, 1),
		transform 0.6s cubic-bezier(0.38, 0.005, 0.215, 1);
	visibility: hidden;
	transform: translateY(-100%);
}

.modal-nav.is-active {
	opacity: 1;
	pointer-events: all;
	visibility: visible;
	transform: translateY(0%);
}

.nav-visible {
	top: 0;
	transition: top 0.3s ease-out;
}

.nav-hidden {
	top: -100px;
	transition: top 0.3s ease-out;
}